body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
nav {
  background-color: #ffcccc;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: #0f0e0e;
}

.navbar-brand {
  max-height: 50px; /* 例子，根据实际情况调整 */
  display: flex;
  align-items: center; /* 这将垂直居中子元素，如 logo 图片 */
}

.navbar .large-bold-text
{
  font-size: 18px; /* 调整字体大小为您希望的大小 */
  font-weight: bold; /* 加粗字体 */
}
.logo-image {
  max-height: 100%;
  max-width: 100%; /* 这将确保图片不会超过其容器的宽度或高度 */
  height: 50px; /* 保持宽高比 */
}